@import "config";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}
.container-gallery {
  max-width: 1200px;
  margin: auto;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.btn.btn-loadmore {
  padding: 0.8em;
  border-radius: 2em;
  background: $bg-red;
  border: none;
}

.btn.btn-loadmore:hover {
  background: #da2f00;
}

// Menu-top
nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  background: $bg-dark;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);

  .nav-left {
    display: flex;
    align-items: center;

    .icon-menu-drawer {
      padding: 0;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;

      &:hover {
        background: $bg-light;
      }

      svg {
        width: 2em;
        height: 2em;
      }
    }
    .navbar-brand {
      display: flex;
      padding: 0;

      img {
        height: 40px;
        margin-right: 5px;
      }
      span {
        font-size: 1.6em;
        line-height: 40px;
      }
    }
  }

  .nav-center {
    .navbar-brand-mobile {
      img {
        height: 40px;
      }
    }
    ul.navbar-nav > li.nav-item > a.nav-link {
      width: 10em;
      font-size: 12px;
      text-align: center;
      transition: 0.4s;

      svg {
        display: block;
        margin: auto;
        height: 24px;
      }

      span {
        margin-top: 2px;
        display: block;
      }
    }
    ul.navbar-nav > li.nav-item.active > a.nav-link,
    ul.navbar-nav > li.nav-item:hover > a.nav-link,
    ul.navbar-nav > li.nav-item.focus > a.nav-link {
      background-color: rgba(255, 255, 255, 0.14);
    }
  }

  .nav-right {
    .form-search {
      position: relative;
      width: 16em;

      input {
        background: $bg-light;
        color: rgba(255, 255, 255, 0.87);
        border: none;
        width: 100% !important;
        border-radius: 2em;
        padding: 0.4em 0.8em;
        height: calc(1.5em + 0.75rem + 4px);

        &::placeholder {
          color: rgba(255, 255, 255, 0.87);
        }

        &:focus,
        &:active {
          background-color: $bg-light-hover;
          color: #fff;
        }
      }

      .icon-search {
        position: absolute;
        right: 12px;
        top: 3px;
        width: 2em;
        height: 2em;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #ffffff00;

        svg {
          width: 1.75em;
          height: 1.75em;
        }
      }
    }
    .icon-search-mobile {
      padding: 0;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;

      &:hover {
        background: $bg-light;
      }

      svg {
        width: 2em;
        height: 2em;
      }
    }
  }
}

// Section brand
section.brand {
  margin-top: 60px;

  .content {
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  img {
    height: 4em;
    margin-right: 0.5em;
  }

  h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    align-items: center;
    display: flex;
  }
}

// Section post-gallery
section.post-gallery {
  padding-right: 7.5px;
  padding-left: 7.5px;

  .post-item {
    width: 100%;
    height: 300px;

    &.post-item-medium {
      height: 600px;
    }

    &.post-item-large {
      height: 600px;

      .post-block {
        .inner-content {
          .title {
            font-size: 34px;
          }
          p {
            font-size: 24px;

            span {
              font-size: 18px;
            }
          }
        }

        .icon.icon-video {
          top: unset;
          bottom: 1em;
          z-index: 2;
          width: 3em;
          height: 3em;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20em;
          transition: 0.4s;

          svg {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  .post-block {
    display: inline-block;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    margin: 7.5px;
    color: $color-white;
    position: relative;
    z-index: 1;
    transition: 0.4s;

    .inner-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 400px);
      opacity: 50%;
      transition: 0.4s;
    }

    .inner-content {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      padding: 1.5em;
      transition: 0.4s;

      .title {
        font-size: 22px;
        margin-bottom: 10px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        transition: 0.4s;
      }

      span.author {
        font-size: 12px;
        font-weight: bold;
        margin-right: 0.5em;
        transition: 0.4s;
      }

      span.time {
        font-size: 12px;
        font-weight: lighter;
        margin-right: 0.5em;
        transition: 0.4s;
      }
    }

    .tag-list {
      position: absolute;
      top: 1em;
      left: 1em;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      transition: 0.4s;

      .tag-item {
        display: inline-block;
        padding: 0.2em 0.5em;
        margin-right: 0.4em;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .icon {
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 4;
      width: 6em;
      transition: 0.4s;

      .icon-hot,
      .icon-trend {
        display: inline-block;
        width: 2.25em;
        height: 2.25em;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 0.2em;
        border-radius: 2em;
        margin-left: 0.5em;
        transition: 0.4s;
        float: right;
      }
    }

    .icon.icon-video {
      top: unset;
      bottom: 1em;
      z-index: 2;
      width: 2.5em;
      height: 2.5em;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20em;
      transition: 0.4s;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .post-block:hover {
    transform: scale(0.95);

    .inner-bg {
      opacity: 100%;
    }

    .inner-content {
      padding-bottom: 2em;

      .title {
        color: $color-red-pink;
      }

      .short-desrciption {
        display: block;
        visibility: visible;
      }
    }

    .tag-list {
      right: 1.5em;
      top: 1.5em;

      .tag-item {
        background-color: $bg-red-pink;
      }
    }

    .icon {
      right: 1.5em;
      top: 1.5em;

      .icon-hot,
      .icon-trend {
        background-color: $bg-red-pink;
      }
    }

    .icon.icon-video {
      background-color: $bg-red-pink !important;
      bottom: 1.5em;
      top: unset;
    }
  }
}

// Section tag-hot
section.tag-hot {
  background: $bg-dark;

  .title {
    svg {
      height: 6em;
      width: 6em;
    }
    span.hr-line {
      display: block;
      width: 80px;
      height: 4px;
      background-color: #fff;
      margin: auto;
    }
  }

  ul.nav.tag-list {
    justify-content: center;

    li a {
      color: $color-white;
      border: 1px solid rgba(255, 255, 255, 0.87);
      transition: 0.2s;
      margin: 0.5em 0.5em;
      padding: 0.4em 1em;
    }
    li:hover a {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

//Section section-main
section.section-main {
  width: 67%;
  display: inline-block;
  float: left;

  .list-post-main {
    width: 100%;
    a.post-main-item {
      display: inline-block;
      transition: 0.4s;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      width: 100%;

      .post-thumbnail {
        position: relative;
        width: 35%;
        height: 280px;
        float: left;
        transition: 0.4s;

        .icon.icon-video {
          display: inline-block;
          width: 2.5em;
          height: 2.5em;
          position: absolute;
          right: 0.5em;
          bottom: 0.5em;
          text-align: center;
          border-radius: 2em;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20em;
          transition: 0.4s;

          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
      .content {
        display: inline-block;
        width: 65%;
        padding: 0.5em 2em;
        color: #333;

        .tag-icon {
          display: flex;
          align-items: center;
          .tag-list {
            display: inline-block;
            color: #666;
            font-size: 22px;

            .tag-item {
              display: inline-block;
              margin-right: 0.5em;
            }
          }
          .icon {
            display: inline-block;

            .icon-trend,
            .icon-hot {
              width: 36px;
              height: 36px;
              display: inline-block;
              // background-color: rgba(0, 0, 0, 0.08);
              border-radius: 50%;
              margin-right: 4px;
              transition: 0.4s;
            }
          }
        }

        h4 {
          font-weight: bold;
          font-size: 36px;
          margin-top: 8px;
          margin-bottom: 16px;
          transition: 0.4s;
        }

        span.author {
          margin-right: 1em;
          font-size: 18px;
          font-weight: bold;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 0.4em;
          }
        }
        span.time {
          font-size: 18px;
          color: #666;
        }
      }
    }

    //block-post :hover
    a.post-main-item:hover {
      .post-thumbnail {
        transform: scale(1.05);

        .icon.icon-video {
          background-color: #ff5f50;
        }
      }
      .content h4 {
        color: #ff5f50;
      }
      .icon {
        .icon-trend,
        .icon-hot {
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }

    a.post-main-item:last-child {
      border-bottom: none;
    }
  }
}

//Section section-sidebar
section.section-sidebar {
  width: 33%;
  display: inline-block;
  h4 {
    font-weight: bold;
  }

  span.hr-line {
    display: block;
    width: 80px;
    height: 4px;
    background-color: #fe0f00;
  }
  .post-list {
    .post-item {
      display: inline-block;
      font-size: 16px;
      color: #333;
      transition: 0.4s;
      text-decoration: none;
      .post-thumbnail {
        position: relative;
        width: 23%;
        height: 100px;
        margin-right: 30px;
        float: left;
        .icon.icon-video {
          display: inline-block;
          width: 2.25em;
          height: 2.25em;
          position: absolute;
          right: 0.5em;
          bottom: 0.5em;
          text-align: center;
          border-radius: 2em;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20em;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
      .title {
        font-weight: 600;
        transition: 0.4s;
      }
      .time {
        color: #666;
      }
    }
    .post-item:hover {
      .title {
        color: $color-red-pink;
      }
      .post-thumbnail .icon.icon-video {
        background: $bg-red-pink;
      }
    }
    .post-large.post-item {
      display: block;
      width: 100%;
      height: 400px;
      position: relative;
      color: $color-white;

      .inner-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), black 400px);
        opacity: 50%;
        transition: 0.4s;
      }
      .inner-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        padding: 20px 30px;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        .title {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 12px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        .time {
          color: $color-white;
        }
      }
      .icon.icon-video {
        position: absolute;
        right: 1em;
        bottom: 1em;
        z-index: 4;
        width: 2.5em;
        height: 2.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20em;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .post-large.post-item:hover {
      .inner-bg {
        background: linear-gradient(rgba(0, 0, 0, 0), black 400px);
        opacity: 100%;
      }
      .inner-content {
        .title {
          color: $color-red-pink;
        }
      }
      .icon.icon-video {
        right: 1.5em;
        bottom: 1.5em;
        background-color: $bg-red-pink;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1200px) {
  // Section post-gallery
  section.post-gallery {
    padding-top: 56px;
    padding-right: 0;
    padding-left: 0;

    .post-block {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }

  // Section tag-hot
  section.tag-hot {
    margin-top: 0;
    font-size: 14px;
  }

  //Section section-main
  section.section-main {
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  //menu-top
  nav.navbar {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 375px) {
  section.post-gallery {
    .post-item {
      height: 50vw;
      .post-block {
        .inner-content {
          padding: 1em 0.5em;

          .title {
            font-size: 16px;
            margin-bottom: 0;
          }
          span.author {
            font-size: 10px;
            margin-right: 0.2em;
          }
          span.time {
            font-size: 8px;
          }
        }
        .tag-list {
          font-size: 12px;

          .tag-item {
            padding: 0.4em 0.5em;
          }
        }
        .icon {
          right: 0.5em;
          top: 0.5em;

          .icon-hot,
          .icon-trend {
            width: 2em;
            height: 2em;
            padding: 0.1em;

            svg {
              width: 18px;
              height: 18px;
            }
          }
          .icon-trend svg {
            width: 20px;
          }
        }
        .icon.icon-video {
          top: unset;
          bottom: 0.5em;
          width: 2.25em;
          height: 2.25em;

          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
    }

    .post-item.post-item-large {
      height: 100vw;

      .post-block {
        .inner-content {
          padding: 1em;

          .title {
            font-size: 28px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .post-item.post-item-medium {
      height: 100vw;
    }
  }
}
