* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}
.container-gallery {
  max-width: 1200px;
  margin: auto;
}
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.btn.btn-loadmore {
  padding: 0.8em;
  border-radius: 2em;
  background: $bg-red;
  border: none;
}

.btn.btn-loadmore:hover {
  background: #da2f00;
}
