//Section section-sidebar
section.section-sidebar {
  width: 33%;
  display: inline-block;
  h4 {
    font-weight: bold;
  }

  span.hr-line {
    display: block;
    width: 80px;
    height: 4px;
    background-color: #fe0f00;
  }
  .post-list {
    .post-item {
      display: inline-block;
      font-size: 16px;
      color: #333;
      transition: 0.4s;
      text-decoration: none;
      .post-thumbnail {
        position: relative;
        width: 23%;
        height: 100px;
        margin-right: 30px;
        float: left;
        .icon.icon-video {
          display: inline-block;
          width: 2.25em;
          height: 2.25em;
          position: absolute;
          right: 0.5em;
          bottom: 0.5em;
          text-align: center;
          border-radius: 2em;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20em;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
      .title {
        font-weight: 600;
        transition: 0.4s;
      }
      .time {
        color: #666;
      }
    }
    .post-item:hover {
      .title {
        color: $color-red-pink;
      }
      .post-thumbnail .icon.icon-video {
        background: $bg-red-pink;
      }
    }
    .post-large.post-item {
      display: block;
      width: 100%;
      height: 400px;
      position: relative;
      color: $color-white;

      .inner-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), black 400px);
        opacity: 50%;
        transition: 0.4s;
      }
      .inner-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        padding: 20px 30px;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        .title {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 12px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        .time {
          color: $color-white;
        }
      }
      .icon.icon-video {
        position: absolute;
        right: 1em;
        bottom: 1em;
        z-index: 4;
        width: 2.5em;
        height: 2.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20em;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .post-large.post-item:hover {
      .inner-bg {
        background: linear-gradient(rgba(0, 0, 0, 0), black 400px);
        opacity: 100%;
      }
      .inner-content {
        .title {
          color: $color-red-pink;
        }
      }
      .icon.icon-video {
        right: 1.5em;
        bottom: 1.5em;
        background-color: $bg-red-pink;
      }
    }
  }
}
