// Section tag-hot
section.tag-hot {
  background: $bg-dark;

  .title {
    svg {
      height: 6em;
      width: 6em;
    }
    span.hr-line {
      display: block;
      width: 80px;
      height: 4px;
      background-color: #fff;
      margin: auto;
    }
  }

  ul.nav.tag-list {
    justify-content: center;

    li a {
      color: $color-white;
      border: 1px solid rgba(255, 255, 255, 0.87);
      transition: 0.2s;
      margin: 0.5em 0.5em;
      padding: 0.4em 1em;
    }
    li:hover a {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
