// Set color
$bg-light: #ffffff26;
$bg-light-hover: #ffffff42;
$bg-white: #fff;
$bg-dark: #000;
$bg-red-pink: #ff5f50;
$bg-red: #ff3700;

$color-light: #ffffff26;
$color-light-hover: #ffffff42;
$color-white: #fff;
$color-dark: #000;
$color-red-pink: #ff5f50;
$color-red: #ff3700;

//set padding margin
@mixin set-p($size) {
  padding: $size;
}
@mixin set-py($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin set-pt($size) {
  padding-top: $size;
}

@mixin set-pb($size) {
  padding-bottom: $size;
}

//Set margin
@mixin set-m($size) {
  margin: $size;
}
@mixin set-my($size) {
  margin-top: $size;
  margin-bottom: $size;
}

@mixin set-mt($size) {
  margin-top: $size;
}

@mixin set-mb($size) {
  margin-bottom: $size;
}
